$site-width: 1024px;

$color-main: #3f51b5;
$color-secondary: #F94983;

$font-color-main: #000;
$font-color-secondary: #fff;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;

$font-weight-medium: 500;
$font-weight-bold: 700;